<script type="text/javascript">

  $(function() {
    $( "#ad_ready_date" ).datepicker({ dateFormat: "yy-mm-dd" });

  });
</script>
<h1>Details</h1>



<div><%= f.label :title %><br />
  <%= f.text_field :title %></div>


<% if @ad.section_id == 1 %>
  <div class="job_details">
    <div><%= f.label :ad_age , "Age"%><br />
      <%= f.select(:ad_age, Ad::PRODUCT_AGE.collect {|s,v| [ v,s ] },{:prompt => "- Select One -"}) %></div>
    <div><%= f.label :ad_usage , "Usage" %><br />
      <%= f.select(:ad_usage, Ad::USAGE.collect {|s,v| [ v,s ] },{:prompt => "- Select One -"}) %></div>
    <div><%= f.label :ad_condition , "Condition"%><br />
      <%= f.select(:ad_condition, Ad::AD_CONDITION.collect {|s,v| [ v,s ] },{:prompt => "- Select One -"}) %></div>
    <div><%= f.label :warranty %><br />
      <%= f.select(:warranty, {'Yes' => 'Yes', 'No' => 'No','Does not apply' => 'Does not apply'},{:prompt => "- Select One -"}) %></div>
  </div>
  <h3>Description</h3>
  <div>   
    <%= f.label :price %><br />  <%= f.text_field :price %>
  </div>
  <div><%= f.label :mobile_number ,"Mobile Number" %><br />
    <%= f.text_field :mobile_number %><%= f.label :mobile_number ,"(optional)" %></div>
  <div><%= f.label :desc ,"Description" %><br />
    <%= f.text_area :desc, :rows => 10, :cols => 20 %></div>

<% elsif @ad.section_id == 2 || @ad.section_id == 3 %>
  <div id="details">

    <div><%= f.label :size %><br />
      <%= f.text_field :size %></div>

    <div><%= f.label :fee , "Total Closine Fee" %><br />
      <%= f.text_field :fee %></div>
    <div><%= f.label :bed_rooms %><br />
      <%= f.select(:bed_rooms, Ad::NUMBER.collect {|s| [ s ] },{:prompt => "- Select One -"}) %></div>

    <div><%= f.label :bath_rooms %><br />
      <%= f.select(:bath_rooms, Ad::NUMBER.collect {|s| [ s ] },{:prompt => "- Select One -"}) %></div>


    <div><%= f.label :developer , "Develper"%><br />
      <%= f.text_field :developer %></div>

    <div><%= f.label :ready_date, "Date (Ready By)" %><br/>

      <%= f.text_field :ready_date %>
    </div>
    <div><%= f.label :annual_comm_fee ,"Annual Community Fee" %><br />
      <%= f.text_field :annual_comm_fee %></div>

    <div>
      <%= f.label :amenities ,"Amenities" %><br />
<%= f.select(:amenities, @amenities.collect {|s| [ s.title,s.id ] },{},{ :multiple => true, :size =>5 }) %>
      
      
    </div>

  </div>
  <h3>Description</h3>
  <div>
    <%= f.label :price %><br />  <%= f.text_field :price %><%= f.label :price ,"AED" %>
  </div>
  <div><%= f.label :property_refer %> <%= f.text_field :property_refer  %><%= f.label :property_refer  ,"(optional)" %></div>
  <div><%= f.label :mobile_number ,"Mobile Number" %><br />
    <%= f.text_field :mobile_number %><%= f.label :mobile_number ,"(optional)" %></div>
  <div><%= f.label :desc ,"Description" %><br />
    <%= f.text_area :desc, :rows => 10, :cols => 20 %></div>


  <h1>Lister Details</h1>

  <div style="width:90%">

    <div style="width:50%; float: left;">
      <%= f.radio_button :agent_or_landlord , :value => 1 %><%=f.label :agent_or_landlord , "I'm an Agent"%>
    </div>
    <div style="width:50%;float: left;">
      <%= f.radio_button :agent_or_landlord , :value => 0 %><%=f.label :agent_or_landlord , "I'm a Landlord"%>
    </div>
  </div>


<% elsif @ad.section_id == 4 %>
  <div class="job_details">
    <div><%= f.label :compensation , "Comprensation in lacks"%><br />
      <%= f.text_field :compensation %></div>
    <div><%= f.label :work_experience %><br />
      <%= f.select(:work_experience, Ad::WORK_EXPERIENCE.collect {|s,v| [ v,s ] },{:prompt => "- Select One -"}) %></div>
    <div><%= f.label :education_level %><br />
      <%= f.select(:education_level, Ad::EDUCATION_LEVEL.collect {|s,v| [ v,s ] },{:prompt => "- Select One -"}) %></div>
    <div><%= f.label :commitment %><br />
      <%= f.select(:commitment, {'Full Time' => 'FT', 'Part Time' => 'PT'},{:prompt => "- Select One -"}) %></div>
  </div>
  <h3>Description</h3>
  <div><%= f.label :mobile_number ,"Mobile Number" %><br />
    <%= f.text_field :mobile_number %><%= f.label :mobile_number ,"(optional)" %></div>
  <div><%= f.label :desc ,"Description" %><br />
    <%= f.text_area :desc, :rows => 10, :cols => 20 %></div>

<% elsif @ad.section_id == 5 %>
  <div><%= f.label :mobile_number ,"Mobile Number" %><br />
    <%= f.text_field :mobile_number %><%= f.label :mobile_number ,"(optional)" %></div>
  <div><%= f.label :desc ,"Description" %><br />
    <%= f.text_area :desc, :rows => 10, :cols => 20 %></div>

<% end %>