<script type="text/javascript">

  	$(function() {
		$( "#ad_ready_date" ).datepicker();

	});
</script>


<h2>Details</h2>


<h3>Title</h3>
<div><%= f.label :title %><br />
  <%= f.text_field :title %></div>
<h1>Details</h1>
<% if @ad.section_id == 4 %>
<div class="job_details">
    <div><%= f.label :compensation , "Comprensation in lacks"%><br />
  <%= f.text_field :compensation %></div>
   <div><%= f.label :work_experience %><br />
   <%= f.select(:work_experience, Ad::WORK_EXPERIENCE.collect {|s,v| [ v,s ] },{:prompt => "- Select One -"}) %></div>
  <div><%= f.label :education_level %><br />
   <%= f.select(:education_level, Ad::EDUCATION_LEVEL.collect {|s,v| [ v,s ] },{:prompt => "- Select One -"}) %></div>
  <div><%= f.label :commitment %><br />
   <%= f.select(:commitment, {'Full Time' => 'FT', 'Part Time' => 'PT'},{:prompt => "- Select One -"}) %></div>
   
</div>
 <h3>Description</h3>
   <div><%= f.label :phone_number ,"Phone Number" %><br />
  <%= f.text_field :phone_number %><%= f.label :phone_number ,"(optional)" %></div>

   <div><%= f.label :desc ,"Description" %><br />
  <%= f.text_area :desc, :rows => 10, :cols => 20 %></div>
<% else %>
<div id="details">
  
  <div><%= f.label :size %><br />
  <%= f.text_field :size %></div>

  <div><%= f.label :fee , "Total Closine Fee" %><br />
  <%= f.text_field :fee %></div>
<div><%= f.label :bed_rooms %><br />
  <%= f.select(:bed_rooms, Ad::NUMBER.collect {|s| [ s ] },{:prompt => "- Select One -"}) %></div>

<div><%= f.label :bath_rooms %><br />
  <%= f.select(:bath_rooms, Ad::NUMBER.collect {|s| [ s ] },{:prompt => "- Select One -"}) %></div>


<div><%= f.label :developer , "Develper"%><br />
<%= f.text_field :developer %></div>

<div><%= f.label :ready_date, "Date (Ready By)" %><br/>

<%= f.text_field :ready_date %>
</div>
 <div><%= f.label :annual_comm_fee ,"Annual Community Fee" %><br />
  <%= f.text_field :annual_comm_fee %></div>

<div>
  <%= f.label :amenities ,"Amenities" %><br />

  <% @amenities.each do |amen| %>

  <input id="ad_amenities" type="checkbox" value=<%=  amen.id %> name="ad[amenities][]"/>
    <%=f.label :amenities , "#{amen.title}"%>

  <% end %>
</div>
</div>

 

  <h1>Lister Details</h1>

  <div style="width:90%">

    <div style="width:50%; float: left;">
<%= f.radio_button :agent_or_landlord , :value => 1 %><%=f.label :agent_or_landlord , "I'm an Agent"%>
    </div>
    <div style="width:50%;float: left;">
  <%= f.radio_button :agent_or_landlord , :value => 0 %><%=f.label :agent_or_landlord , "I'm a Landlord"%>
  </div>
  </div>
 

<% end %>

