<div class="progress progress-striped  active"> <div class="bar"   style="width: 60%;"></div></div>

<p>Find a Location</p>
<div><%= f.label :street %><br />
<%= f.text_field :street %></div>

<div><%= f.label :city %><br/>
<%= f.select(:city, City.all.collect {|s| [ s.name, s.name ] },{:prompt => "- Select One -"}) %>
</div>
<div>
<%= f.hidden_field :country, :value => "India" %>

</div>

