<div class="job_details">
  <div class="size-info"><%= f.label :compensation , "Comprensation in lacks"%>
    <%= f.text_field :compensation %></div>
  <div class="size-info"><%= f.label :work_experience %>
    <%= f.select(:work_experience, Ad::WORK_EXPERIENCE.collect {|s,v| [ v,s ] },{:prompt => "- Select One -"}) %></div>
  <div class="size-info"><%= f.label :education_level %>
    <%= f.select(:education_level, Ad::EDUCATION_LEVEL.collect {|s,v| [ v,s ] },{:prompt => "- Select One -"}) %></div>
  <div class="size-info"><%= f.label :commitment %>
    <%= f.select(:commitment, {'Full Time' => 'FT', 'Part Time' => 'PT'},{:prompt => "- Select One -"}) %></div>
</div>
<h3>Description</h3>
<div class="job_details">
<div class="size-info">
  <%= f.label :mobile_number ,"Mobile Number" %>
  <span style="float:left !important;"><%= f.text_field :mobile_number %></span><%= f.label :mobile_number ," (optional)" %>
</div></div>
