<div class="job_details">
  <div class="age-info"><%= f.label :ad_age , "Age"%><br />
    <%= f.select(:ad_age, Ad::PRODUCT_AGE.collect {|s,v| [ v,s ] },{:prompt => "- Select One -"}) %></div>
  <div class="usage-info" ><%= f.label :ad_usage , "Usage" %><br />
    <%= f.select(:ad_usage, Ad::USAGE.collect {|s,v| [ v,s ] },{:prompt => "- Select One -"}) %></div>
  <div class="condition-info"><%= f.label :ad_condition , "Condition"%><br />
    <%= f.select(:ad_condition, Ad::AD_CONDITION.collect {|s,v| [ v,s ] },{:prompt => "- Select One -"}) %></div>
  <div class="warranty-info"><%= f.label :warranty %><br />
    <%= f.select(:warranty, {'Yes' => 'Yes', 'No' => 'No','Does not apply' => 'Does not apply'},{:prompt => "- Select One -"}) %></div>
</div>
<h3>Description</h3>
<div class="price-info">
  <%= f.label :price %> <%= f.text_field :price %>
</div>
<div class="mobile-info">
  <%= f.label :mobile_number ,"Mobile Num" %>
  <%= f.text_field :mobile_number %><%= f.label :mobile_number ,"(optional)" %>
</div>
