<h1>Ad Creation</h1>



<%= form_for(@ad, :url => ads_path,:html => {:multipart => true}) do |f| %>
<% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= render "#{@ad.current_step}_step", :f => f %>
  <br/>
  <div class="next-info"> <%= f.submit "Next" , :class => "btn btn-primary"%> </div>
<% end %>



  
 




