<h2>Ad</h2>

<%= form_for(@ad, :url => ads_path) do |f| %>
<% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= render "#{@ad.current_step}_step", :f => f %>
  <br/>
  <div>
  <%= f.submit "Next" %>
  <p><%= f.submit "Back", :name => "back_button" unless @ad.first_step? %></p>
</div>
<% end %>



  
 




