<script type="text/javascript">
  
  	$(function() {
		$( "#ad_ready_date" ).datepicker();
		
	});
</script>
  

<h2>Ad</h2>

<%= form_for(@ad, :url => ads_path) do |f| %>
 
<div><%=f.label :section_id , "Select a Section" %><br/>
<%= f.select(:section_id, Section.all.collect {|s| [ s.name, s.id ] },{:prompt => "- Select One -"}) %></div>
<div><%=f.label :category_id , "Select a Category" %><br/>
<%= f.select(:category_id, Category.parent_cat.collect {|s| [ s.name, s.id ] },{:prompt => "- Select One -"}) %></div> 

<div><%=f.label :sub_category_id , "Select a Subcategory" %><br/>
<%= f.select(:category_id, Category.parent_cat.collect {|s| [ s.name, s.id ] },{:prompt => "- Select One -"}) %></div> 


<div><%= f.label :title %><br />
  <%= f.email_field :title %></div>

  <div><%= f.label :size %><br />
  <%= f.text_field :size %></div>

  <div><%= f.label :fee , "Total Closine Fee" %><br />
  <%= f.password_field :fee %></div>
<div><%= f.label :bed_rooms %><br />
  <%= f.select(:bed_rooms, Ad::NUMBER.collect {|s| [ s ] },{:prompt => "- Select One -"}) %></div>

<div><%= f.label :bath_rooms %><br />
  <%= f.select(:bath_rooms, Ad::NUMBER.collect {|s| [ s ] },{:prompt => "- Select One -"}) %></div>


<div><%= f.label :developer , "Develper"%><br />  
<%= f.text_field :developer %></div>

<div><%= f.label :ready_date, "Date (Ready By)" %><br/>

<%= f.text_field :ready_date %>
</div>
 <div><%= f.label :annual_comm_fee ,"Annual Community Fee" %><br />
  <%= f.text_field :annual_comm_fee %></div>

<div>
  <%= f.label :amenities ,"Amenities" %><br />


  
  
  
    
    
    
   

</div>

  <%= f.submit "Register" %></div>
<% end %>

<%#= render "links" %>

