
<style type="text/css">
  .gmaps4rails_map {
  width: 658px;
  height: 348px;
}
.map_container{
  width: 660px;
}

</style>
<%= render_breadcrumbs %>

<% if watching?(@ad.id) %>
<div id="<%=params[:id]%>" style="cursor: pointer;float: right;">Watching</div>
<% else %>
<div id="<%=params[:id]%>" class="watch" style="cursor: pointer;float: right;">Watch</div>
<% end %>


<p>Ad details</p>
<div><%= label :ad,:title %> :   <%= @ad.title %></div> <br />
<% if @ad.section_id != 4 %>
<div><%= label :ad,:size %> :   <%= @ad.size %></div> <br />
<div><%= label :ad,:fee %> :   <%= @ad.fee%></div> <br />
<div><%= label :ad,:bed_rooms %> :   <%= @ad.bed_rooms %></div> <br />
<div><%= label :ad,:bath_rooms %> :   <%= @ad.bath_rooms %></div> <br />
<div><%= label :ad,:developer %> :   <%= @ad.developer %></div> <br />
<div><%= label :ad,:ready_date %> :   <%= @ad.ready_date %></div> <br />
<div><%= label :ad, :annual_comm_fee %> :   <%= @ad.annual_comm_fee %></div> <br />
<div><%= label :ad, :amenities %> :   <%#= Amenity.where("id in #{@ad.amenities}").collect{|t| t.title } %></div> <br />
<div><%= label :ad,:price %> :   <%= @ad.price %></div> <br />
<div><%= label :ad,:property_refer %> :   <%= @ad.property_refer %></div> <br />
<div><%= label :ad,:phone_number %> :   <%= @ad.phone_number %></div> <br />
<div><%= label :ad,:desc %> :   <%= @ad.desc %></div> <br />

<div><%= label :ad,:agent_or_landlord %> :   <%= @ad.agent_or_landlord %></div> <br />
<% else %>
<div><%= label :ad,:compensation %> :   <%= @ad.compensation %></div> <br />
<div><%= label :ad,:work_experience %> :   <%= @ad.work_experience%></div> <br />
<div><%= label :ad,:education_level %> :   <%= @ad.education_level %></div> <br />
<div><%= label :ad,:commitment %> :   <%= @ad.commitment %></div> <br />
<div><%= label :ad,:desc %> :   <%= @ad.desc %></div> <br />
<% end %>
<div><%= label :ad,:street %> :   <%= @ad.street %></div> <br />
<div><%= label :ad,:city %> :   <%= @ad.city %></div> <br />
<div><%= label :ad,:country %> :   <%= @ad.country %></div> <br />
<%- @ad.images.each do |image| %>
  <%= image_tag image.url(:thumb) %>
<% end %>


<div style="width:50px;">
<%= gmaps("markers" => {"data" => @json}, "map_options" => {"processing" => "json", "auto_adjust" => true, "auto_zoom" => false, "zoom" => 10}) %>
</div>
