

<div id="<%=params[:id]%>" class="watch" style="cursor: pointer;">Watch</div>


<p>Ad details</p>
<div><%= label :ad,:title %> :   <%= @ad.title %></div> <br />
<div><%= label :ad,:size %> :   <%= @ad.size %></div> <br />
<div><%= label :ad,:fee %> :   <%= @ad.fee%></div> <br />
<div><%= label :ad,:bed_rooms %> :   <%= @ad.bed_rooms %></div> <br />
<div><%= label :ad,:bath_rooms %> :   <%= @ad.bath_rooms %></div> <br />
<div><%= label :ad,:developer %> :   <%= @ad.developer %></div> <br />
<div><%= label :ad,:ready_date %> :   <%= @ad.ready_date %></div> <br />
<div><%= label :ad, :annual_comm_fee %> :   <%= @ad.annual_comm_fee %></div> <br />
<div><%= label :ad, :amenities %> :   <%#= Amenity.where("id in #{@ad.amenities}").collect{|t| t.title } %></div> <br />
<div><%= label :ad,:price %> :   <%= @ad.price %></div> <br />
<div><%= label :ad,:property_refer %> :   <%= @ad.property_refer %></div> <br />
<div><%= label :ad,:phone_number %> :   <%= @ad.phone_number %></div> <br />
<div><%= label :ad,:desc %> :   <%= @ad.desc %></div> <br />

<div><%= label :ad,:agent_or_landlord %> :   <%= @ad.agent_or_landlord %></div> <br />
<div><%= label :ad,:street %> :   <%= @ad.street %></div> <br />
<div><%= label :ad,:city %> :   <%= @ad.city %></div> <br />
<div><%= label :ad,:country %> :   <%= @ad.country %></div> <br />
<%- @ad.images.each do |image| %>
  <%= image_tag image.url(:thumb) %>
<% end %>

<%= gmaps4rails(@json) %>