
<style type="text/css">
  .gmaps4rails_map {
  width: 414px;
  height: 296px;
}
.map_container{
  width: 414px;
}

</style>
<%= render_breadcrumbs %>

<ul class="nav nav-tabs">
<li class="active"><a href="#photo" data-toggle="tab">Photos</a></li>
<li><a href="#profile" data-toggle="tab">Map</a></li>   
</ul>
<div class="tab-content" style="width: 50%;">
<div class="tab-pane active" id="photo">
  <%- @ad.images.each do |image| %>
  <%= image_tag image.url(:thumb) %>
<% end %>  
</div>
<div class="tab-pane" id="profile">

<%= gmaps("markers" => {"data" => @json}, "map_options" => {"processing" => "json", "auto_adjust" => true, "auto_zoom" => false,"center_longitude" => 180, "zoom" => 15}) %>

</div>

</div>


<% if user_signed_in? %>
<% if watching?(@ad.id) %>
<div id="<%=params[:id]%>" style="cursor: pointer;float: right;" class="btn btn-primary btn-large">Watching</div>
<% else %>
 <div id="<%=params[:id]%>" class="btn btn-primary btn-large watch" style="cursor: pointer;float: right;">Watch</div>
<% end %>
 <% else %>
 <%= link_to "Watch" , '#signin_modal', "data-toggle" => "modal" , :class =>"btn btn-primary btn-large" %> 
 <% end %>
 <div>Short link :  <%= text_field_tag "short_url" , shortener("http://hamarasouk.com:5000"+ad_path(@ad.slug)), :style => "color:red;" %></div>
<a href = '#reply' class="btn btn-primary btn-medium" data-toggle = "modal">Reply by Email</a>
<% if user_signed_in? %><a href = '#report' class="btn btn-primary btn-medium" data-toggle = "modal">Report Ad</a><% end %>

<p>Ad details</p>

<div><%= label :ad,:title %> :   <%= @ad.title %></div> <br />

<% if @ad.section_id == 1 %>
  <div class="job_details">
    <div><%= label :ad,:ad_age , "Age" %> :   <%= @ad.ad_age %></div> <br />
    <div><%= label :ad,:ad_usage , "Usage" %> :   <%= @ad.ad_usage %></div> <br />
   <div><%= label :ad,:ad_condition , "Condition" %> :   <%= @ad.ad_condition %></div> <br />
   <div><%= label :ad,:warranty %> :   <%= @ad.warranty %></div> <br />    
  </div>

<% elsif @ad.section_id == 2 || @ad.section_id == 3 %>
<div><%= label :ad,:size %> :   <%= @ad.size %></div> <br />
<div><%= label :ad,:fee %> :   <%= @ad.fee%></div> <br />
<div><%= label :ad,:bed_rooms %> :   <%= @ad.bed_rooms %></div> <br />
<div><%= label :ad,:bath_rooms %> :   <%= @ad.bath_rooms %></div> <br />
<div><%= label :ad,:developer %> :   <%= @ad.developer %></div> <br />
<div><%= label :ad,:ready_date %> :   <%= @ad.ready_date %></div> <br />
<div><%= label :ad, :annual_comm_fee %> :   <%= @ad.annual_comm_fee %></div> <br />

<div><%= label :ad, :amenities %> :  
  <ul>
 <% Amenity.where("id in (#{@ad.amenities.scan(/\d+/).join(',')})").each do |amen| %>

    <li><%= amen.title %></li>
<% end%>
  </ul>
</div> <br />
<div><%= label :ad,:price %> :   <%= @ad.price %></div> <br />
<div><%= label :ad,:property_refer %> :   <%= @ad.property_refer %></div> <br /> 
<div><%= label :ad,:phone_number %> :   <%= @ad.phone_number %></div> <br />
<div><%= label :ad,:desc %> :   <%= @ad.desc %></div> <br />

<div><%= label :ad,:agent_or_landlord %> :   <%= @ad.agent_or_landlord %></div> <br />
<%  elsif @ad.section_id == 4 %>
<div><%= label :ad,:compensation %> :   <%= @ad.compensation %></div> <br />
<div><%= label :ad,:work_experience %> :   <%= @ad.work_experience%></div> <br />
<div><%= label :ad,:education_level %> :   <%= @ad.education_level %></div> <br />
<div><%= label :ad,:commitment %> :   <%= @ad.commitment %></div> <br />
<div><%= label :ad,:desc %> :   <%= @ad.desc %></div> <br />
<% else %>
<div><%= label :ad,:phone_number %> :   <%= @ad.phone_number %></div> <br />
<div><%= label :ad,:desc %> :   <%= @ad.desc %></div> <br />
<% end %>
<div><%= label :ad,:street %> :   <%= @ad.street %></div> <br />
<div><%= label :ad,:city %> :   <%= @ad.city %></div> <br />
<div><%= label :ad,:country %> :   <%= @ad.country %></div> <br />


<span class='st_facebook_hcount' displayText='Facebook'></span>
<span class='st_twitter_hcount' displayText='Tweet'></span>
<span class='st_email_hcount' displayText='Email'></span>
<span class='st_googleplus_hcount' displayText='Google +1'></span>
<span class='st_fbsend_hcount' displayText='Facebook Send'></span>
<span class='st_fblike_hcount' displayText='Facebook Like'></span>



<div id="reply" class='modal hide fade' url = "<%=new_reply_ads_url(:id => @ad.slug)%>" ></div>


<div id="report" class = 'modal hide fade' url = "<%=contact_home_index_url%>" >
  <div class="modal-header">
    <h1>Report this Listing</h1>
  </div>
  <div class="modal-body">

    <span class = 'label label-important'> <%= @ad.title %> </span>


    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <span class="accordion-toggle" data-parent="#accordion2" data-toggle="collapse" href="#reportSpam">
            <h3>Spam</h3>
          </span>
        </div>
        <div class="accordion-body collapse in" id="reportSpam">
          <div class="accordion-inner">
            <%= form_for(@report, :url => report_ads_path(:ad => @ad.slug), :id => "spamReport") do |f| %>
               <%= f.hidden_field :ad_id , :value => @ad.id  %>
              <div>
                <p>What kind of Spam is this?</p>
               
                <div class="category"><input name="report[spam]" value="Commercial" id="report_spam_commercial" type="radio"/><label for="commercial">Commercial</label></div>
                <div class="category"><input name="report[spam]" value="Offensive" id="report_spam_offensive" type="radio"/><label for="offensive">Offensive</label></div>
                <div class="category"><input name="report[spam]" value="Irrelevant" id="report_spam_irrelevant" type="radio"/><label for="irrelevant">Irrelevant</label></div>
                <div class="category"><input name="report[spam]" value="Other" id="report_spam_other" type="radio"/><label for="other">Other</label></div>
                <%= f.submit "Report Spam" ,:class=>"btn btn-primary btn-medium" , :id => 'report-spam' %>
              </div>              
            <% end %>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <span class="accordion-toggle" data-parent="#accordion2" data-toggle="collapse" href="#reportFraud">
            <h3>Fraud</h3>
          </span>
        </div>
        <div class="accordion-body collapse" id="reportFraud">
          <div class="accordion-inner">
            <p>Please tell us why you believe this is fraud:</p>
            <%= form_for(@report, :url =>report_ads_path(:ad => @ad.slug)) do |f| %>
              <div>
                <%= f.hidden_field :ad_id , :value => @ad.id  %>
                <%= f.text_area :fraud_desc , :rows => "5" , :cols => "35"  %>
              </div>
              <%= f.submit "Report Fraud" ,:class=>"btn btn-primary btn-medium" , :id => 'report-fraud' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <span class="accordion-toggle" data-parent="#accordion2" data-toggle="collapse" href="#reportMiscategorized">
            <h3>Miscategorized</h3>
          </span>
        </div>
        <div class="accordion-body collapse" id="reportMiscategorized">
          <div class="accordion-inner">
            <p>This Ad will be reviewed and recategorized accordingly:</p>
            <%= form_for(@report, :url => report_ads_path(:ad => @ad.slug)) do |f| %>
              <div>
                <%= f.hidden_field :ad_id , :value => @ad.id  %>
                <%= f.hidden_field :miscategorized , :value => true  %>
              </div>
              <%= f.submit "Report Miscategorized" ,:class=>"btn btn-primary btn-medium" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <span class="accordion-toggle" data-parent="#accordion2" data-toggle="collapse" href="#reportRepetitive">
            <h3>Repetitive Listing</h3>
          </span>
        </div>
        <div class="accordion-body collapse" id="reportRepetitive">
          <div class="accordion-inner">
            <p>You have chosen to Report this as a repetitive listing:</p>
            <%= form_for(@report, :url => report_ads_path(:ad => @ad.slug)) do |f| %>
              <div>
                <%= f.hidden_field :ad_id , :value => @ad.id  %>
                <%= f.hidden_field :repetitive_listing , :value => true  %>
              </div>
              <%= f.submit "Report Repetitive"  ,:class=>"btn btn-primary btn-medium"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="loader pull-right" style = 'display: none;'><%= image_tag('loader.gif')%></div>    
  </div>
</div>