
<style type="text/css">
  .gmaps4rails_map {
  width: 414px;
  height: 296px;
}
.map_container{
  width: 414px;
}

</style>
<%= render_breadcrumbs %>

<ul class="nav nav-tabs">
<li class="active"><a href="#photo" data-toggle="tab">Photos</a></li>
<li><a href="#profile" data-toggle="tab">Map</a></li>   
</ul>
<div class="tab-content" style="width: 50%;">
<div class="tab-pane active" id="photo">
  <%- @ad.images.each do |image| %>
  <%= image_tag image.url(:thumb) %>
<% end %>  
</div>
<div class="tab-pane" id="profile">

<%= gmaps("markers" => {"data" => @json}, "map_options" => {"processing" => "json", "auto_adjust" => true, "auto_zoom" => false,"center_longitude" => 180, "zoom" => 15}) %>

</div>

</div>


<% if user_signed_in? %>
<% if watching?(@ad.id) %>
<div id="<%=params[:id]%>" style="cursor: pointer;float: right;" class="btn btn-primary btn-large">Watching</div>
<% else %>
 <div id="<%=params[:id]%>" class="btn btn-primary btn-large watch" style="cursor: pointer;float: right;">Watch</div>
<% end %>
 <% else %>
 <%= link_to "Watch" , '#signin_modal', "data-toggle" => "modal" , :class =>"btn btn-primary btn-large" %> 
 <% end %>

<a href = '#reply' class="btn btn-primary btn-large" data-toggle = "modal">Reply by Email</a>
<p>Ad details</p>
<div><%= label :ad,:title %> :   <%= @ad.title %></div> <br />
<% if @ad.section_id != 4 %>
<div><%= label :ad,:size %> :   <%= @ad.size %></div> <br />
<div><%= label :ad,:fee %> :   <%= @ad.fee%></div> <br />
<div><%= label :ad,:bed_rooms %> :   <%= @ad.bed_rooms %></div> <br />
<div><%= label :ad,:bath_rooms %> :   <%= @ad.bath_rooms %></div> <br />
<div><%= label :ad,:developer %> :   <%= @ad.developer %></div> <br />
<div><%= label :ad,:ready_date %> :   <%= @ad.ready_date %></div> <br />
<div><%= label :ad, :annual_comm_fee %> :   <%= @ad.annual_comm_fee %></div> <br />
<div><%= label :ad, :amenities %> :   <%#= Amenity.where("id in #{@ad.amenities}").collect{|t| t.title } %></div> <br />
<div><%= label :ad,:price %> :   <%= @ad.price %></div> <br />
<div><%= label :ad,:property_refer %> :   <%= @ad.property_refer %></div> <br />
<div><%= label :ad,:phone_number %> :   <%= @ad.phone_number %></div> <br />
<div><%= label :ad,:desc %> :   <%= @ad.desc %></div> <br />

<div><%= label :ad,:agent_or_landlord %> :   <%= @ad.agent_or_landlord %></div> <br />
<% else %>
<div><%= label :ad,:compensation %> :   <%= @ad.compensation %></div> <br />
<div><%= label :ad,:work_experience %> :   <%= @ad.work_experience%></div> <br />
<div><%= label :ad,:education_level %> :   <%= @ad.education_level %></div> <br />
<div><%= label :ad,:commitment %> :   <%= @ad.commitment %></div> <br />
<div><%= label :ad,:desc %> :   <%= @ad.desc %></div> <br />
<% end %>
<div><%= label :ad,:street %> :   <%= @ad.street %></div> <br />
<div><%= label :ad,:city %> :   <%= @ad.city %></div> <br />
<div><%= label :ad,:country %> :   <%= @ad.country %></div> <br />


<span class='st_facebook_hcount' displayText='Facebook'></span>
<span class='st_twitter_hcount' displayText='Tweet'></span>
<span class='st_email_hcount' displayText='Email'></span>
<span class='st_googleplus_hcount' displayText='Google +1'></span>
<span class='st_fbsend_hcount' displayText='Facebook Send'></span>
<span class='st_fblike_hcount' displayText='Facebook Like'></span>



<div id="reply" class='modal hide fade' url = "<%=new_reply_ads_url(:id => @ad.slug)%>" ></div>