
<div class="classified-featuers">
              <h3><a href="<%=  ad_path(ad.slug) %>"><%= ad.title %></a></h3>
              <span class="pro-price">Rs <%= ad.price %></span>
              <div class="pro-feau-info"> <span class="pro-thumb">
                  <a href="<%=  ad_path(ad.slug) %>"><img src="<%= ad.images.first.url(:thumb) %>" alt="Hand bag" border="none" width="150px" height="105px"/></a>
                  <span class="thumb-count"><%= ad.images.count %> Images</span></span>
                <p class="posted-date"><%=ad.created_at.strftime("%d %B %Y")%></p>
                <%#*<p class="classified-breadcrumb">Autos/4x4s > Mercedes Benz > s-class</p>%>
                <div class="classi-info">
                  <%#*<ul>%>
                    <%#*<li>Year: <strong>2000</strong></li>%>
                    <%#*<li>Color: <strong>Orange</strong></li>%>
                    <%#*<li>Kilometers: <strong>5000</strong></li>%>
                    <%#*<li>Doors: <strong>4+doors</strong></li>%>
                  <%#*</ul>%>
                  
                  <ul>
      <li>Size: <strong><%= ad.size %> SqFt</strong></li> 
      <li>Bedrooms: <strong><%= ad.bed_rooms %></strong></li>
      <li>Bathrooms: <strong><%= ad.bath_rooms %></strong></li> 
    </ul>  
                </div>
              </div>
              <div class="pro-location">
                <div class="pro-location-info">Located: <%= ad.gmaps4rails_address %> </div>
                <span class="view-controls"> <span class="watch-list-info"><a href="#"></a></span> <span class="report-info"><a href="#"></a></span> </span> </div>
            </div>


