<div class="top-block">

  <span class="login-links">
    <% if user_signed_in? %>
   
      <ul class="nav nav-pills">
        <li id="user" class ='dropdown'>
          <a class="dropdown-toggle" data-toggle="dropdown"  href="#user" ><%=  current_user.first_name %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li> <%= link_to("Edit Profile", edit_user_registration_path)%></li>
            <li><%= link_to("Sign out", destroy_user_session_path) %></li>
          </ul>
        </li>  
      </ul>
      
      
    
    <% else %>
        <%- if devise_mapping.omniauthable? %>
          <a href="<%=  omniauth_authorize_path(:user, :facebook) %>"><img src="/assets/fb.png" alt="Facebook" border="none" /></a>
       <% end -%>
       <%- if controller_name != 'sessions' %>
          <%= link_to "Sign in", new_session_path(resource_name) %>
      <% end -%> |
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Register", new_registration_path(resource_name) %>
      <% end -%>
    <% end %>
  </span>
  
</div>
<div class="header-sec"> <span class="logo"></span> <img src="/assets/post-req.jpg" alt="" border="none" /> <img src="/assets/post-property.jpg" alt="" border="none" /> </div>
<div class="pri-menu">
  <ul>
    <%= sections() %>
  </ul>
  <a href="<%=new_ad_path()%>" ><span class="Place-ad">Place an ad</span></a>
</div>
<div class="latest-news"><span>JANAPRIYA’S:</span> <a href="#">Hoarding of Splendour County 12 Bungalows in Madhapur, on Nagar Road, Hyderabad..........</a></div>
<div class="fb-block"><%- if devise_mapping.omniauthable? %> <a href="<%=  omniauth_authorize_path(:user, :facebook) %>"><img src="/assets/fb-connect.jpg" alt="FACEBOOK" border="none" /></a><% end -%></div>
