<h2>Contacted Message from a HamaraSouk user</h2>
<p> User's name: <%=  @details[:name] %></p>
<p>User's email: <%=  @details[:email] %></p>
<p>User's mobile: <%=  @details[:mobile] %></p>
<p>User's city: <%=  @details[:city] %></p>
<p>User's state: <%=  @details[:state] %></p>
<p>User's country: <%=  @details[:country] %></p>
<p>This pertains to:<%=  @details[:about] %></p>
<h3> Comments </h3>
<p><%= @details[:comments] %></p>
