<!DOCTYPE html>
<html>
  <head>
    <title>WELCOME TO HAMARA SOUK</title>
    <%= stylesheet_link_tag "application.css" %>
    <%= stylesheet_link_tag "style.css" %>
    <%= stylesheet_link_tag "jquery.ui.base.css" %>
    <%= stylesheet_link_tag "jquery.ui.theme.css" %>
    <%= stylesheet_link_tag "jquery.ui.datepicker.css" %>
    <%= javascript_include_tag "jquery-1.7.1.js" %>
    <%= javascript_include_tag "jquery.ui.core.js" %>
    <%= javascript_include_tag "jquery.ui.widget.js" %>
    <%= javascript_include_tag "jquery.ui.datepicker.js" %>
    <%= javascript_include_tag "application.js" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="mainwrapper">
      <div id="maincontainer">
        <%= render :partial => "shared/header" %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <div class="content-sec">
          <%= render :partial => "shared/left_content" %>
          <div class="cont-right">
            <%= yield %>
          </div>
        </div>
        <%= yield :scripts %>
        <%= render :partial => "shared/footer" %>
      </div>
    </div>
  </body>
</html>
